<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="../static/css/Styles.css">
    <script src="../static/js/script.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <header>
        <h1>Pedidos</h1>
        <nav>
            <ul>
                <li><a href="Productos.html">Productos</a></li>
                <li><a href="Pedidos.html">Pedidos</a></li>
                <li><a href="Logout.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Contenido de gestión de pedidos -->
    </main>

    <script src="script.js"></script>
</body>
</html>
